
.header-border {
  width: 100vw;
  height: 2px;
  background-color: #FF210F;
}


.favorites {
  text-decoration: none;
  color: #FF210F;
  padding: 10px 20px;
  border: 2px solid #FF210F;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s;
}

.favorites:hover {
  background-color: #FF210F;
  color: #FFF;
}