*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}


.header-border {
  width: 100vw;
  height: 2px;
  background-color: #FF210F;
}